@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*{box-sizing:border-box;}

		.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
        }

		.social{
			width:48px;
			position:fixed;
			top:50px;
			right:0;
		}

body {
    font-family: 'EB Garamond', serif;
    background-color:rgb(249, 227, 243);
}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header { 
    background-image: url(https://i.pinimg.com/564x/ec/59/e8/ec59e83bcf9eceba796199e6979caa81.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { 
    color:black;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar .ul li a {
    font-size: 20px;
    padding: 20px;
    color:rgb(255, 0, 187);
    font-weight: 600;
    display: block;
}

.menu .navbar .ul li a:hover {
    color:darkred
}

#menu { 
    display: none;
}

.menu-icono { 
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 { 
    font-size: 60px;
    color: black;
line-height: 1.3;
margin-bottom: 25px;
}

.header-txt span {
    color:rgb(114, 0, 52)
}

.header-txt p {
    font-size: 20px;
    color:black;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid rgb(114, 0, 52);
    border-radius: 25px;
    margin-right: 25px;
    font-size: 20px;
    color:black

}

.btn-1:hover {
    background-color: rgb(244, 195, 223);
}

.popular { 
    padding: 100px 0;
    text-align: center;
}

h2 { 
    color:rgb(0, 0, 0);
    font-size: 35px;
    margin-bottom: 45px;
}


.popular-content {
    display: flex;
    justify-content: space-between;
}

.popular-content img {
    width: 450px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: rgb(235, 156, 217);
}

.product-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color:black;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p { 
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.btn-2 {
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    margin-right: 0;
}

.contact { 
    padding: 150px 300px;
}

.contact-content {
    background-color: rgb(235, 156, 217);
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: beige;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color:black;
    font-size: 17px;
}

::placeholder {
    color:rgb(0, 0, 0);
    font-size: 17px;
}

.btn-3 {
    background-color: beige;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link  ul{
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color:black;
    margin-right: 20px;
}

.link ul li > a:hover { 
    color:rgb(255, 255, 255)
}

@media(max-width:991px) {

    .menu { 
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(235, 156, 217);
        display: none;
    }

    .menu .navbar ul li a:hover {
        color:rgb(255, 255, 255)
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons { 
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product { 
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }
}